.container {
  display: grid;
  column-gap: 24px;
  row-gap: 24px;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto auto;
}

.model-view {
  grid-row: 1 / span 2;
}

.grid-buttons {
  grid-row: 3;
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
}
.button{
    width: 250px;
}
